.footer_container{
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    padding: 2vw 3vw;
    flex-direction: column;
    justify-content: space-between;
}
.up_footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 4vw;
}
.up_footer > p{
    font-size: 1.1vw;
}
.footer_faceboock_vk_inst_box{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-transform: uppercase;
    font-size: 1.2vw;
    margin-left: 0.25vw;
    cursor: pointer;
}
.footer_faceboock_vk_inst_box img{
    margin-left: 1vw;
    width: 2vw;
}
.footer_vk_inst_box{
    margin-top: 1vw;
    display: flex;
}
.down_footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.down_footer p{
    font-size: 1.1vw;
    width: 37%;
    text-transform: uppercase;
}
.down_footer p:last-of-type{
    text-align: right;
}